* {
    margin: 0;
    padding: 0;
}
body {
	font-family:Helvetica, Arial, Tahoma, Verdana, sans-serif;
    width:%100;
    margin: 0;
    padding: 0;
}

p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
.wrapper {
    position: relative;
	max-width: 1000px;
	margin: 0 auto;
}



/* Navigation
-------------------------------------------------------------------------------*/
#navigation {
    position:relative;
    margin:0;
    padding: 0;
    background: #afa;
    overflow:auto;
}
#navigationSelect {
    margin:0.2em;
    color: white;
}
#nav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
}
#nav li {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
#nav li a {
    display: block;
    margin:0;
}

.mobile-layout #nav li {
    width: 50%;
}
.mobile-layout #nav li a {
    text-align: center;
}


.mobile-layout #search-panel {
    width: 95%;
}
.mobile-layout #search-panel input {
    width: 95%;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	overflow: hidden;
}
.full-layout #content {
    padding-left:1.5em;
    padding-top:1.0em;
    padding-right:300px;
}

.full-layout #container {
	float: left;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	margin-right: -3px;
	width: 250px;
    padding:1.0em;
	position: relative;
}
.full-layout #sideRight {
	float: left;
	margin-left: -300px;
}
/* Footer
--------------------------------------------------*/
#footer {
    margin-bottom:1.0em;
}


/* Video 
--------------------------------------------------*/
video {
    max-width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-layout .video-container {
    display: none;
}
