<h1>Archive</h1>

<div class="archive">
<#list archive as year>
    <div class="archive-separator"></div>
    <span class="archive-year">
        ${year.year}
    </span>
    <#list year.months as month>
    <div class="archive-separator"></div>
        <span class="archive-month">
            ${month.monthShortName}
        </span>

        <#list month.posts as post>
            <div class="archive-post">
                <a class="title" href="${blogix.wayToRoot}/post/${post.id}/">${post.title?html}</a>
            </div>
        </#list>
    </#list>
</#list>
</div>
