
<h1>Categories</h1>


<div class="categories">
<#list categories as category>
    <#if category.hasPosts() >
    <div class="category">
        <a class="title" href="/category/${category.category.id}/">${category.category.name?html}</a>
        <ul class="post-list">
            <#list category.recentPosts as post>
            <li>
                <span class="date">${post.date?date}</span>
                <div class="article-details">
                    <a class="title" href="${blogix.wayToRoot}/post/${post.id}/">${post.title?html}</a>
                        <div class="tag-list">
                            <span>Posted in</span>
                            <#list post.categories as category>
                                <#if allCategories[category]??>
                                <a href="${blogix.wayToRoot}/category/${allCategories[category].id}/">${allCategories[category].name?html}</a><#if category_has_next>,</#if>
                                </#if>
                            </#list>
                        </div>
                </div>
            </li>
            </#list>
        </ul>
    </div>
    </#if>
</#list>
</div>
