<div class="content">
    <h1>Contact</h1>
</div>

<p>
    If you would like to ask question about Galen Framework you can do it on <a href="https://groups.google.com/forum/#!forum/galen-framework">Galen Framework Google Group</a>.
</p>

<p>
    In case you have questions specific to project development or just would like to discuss its future improvements or any other technical details you can join the <a href="https://gitter.im/galenframework/galen">Galen Framework chat on Gitter</a>
</p>

<p>
    If you find a bug you can report it on <a href="https://github.com/galenframework/galen/issues">GitHub issues</a>. But first please see if somebody already posted similar issue. Please also provide all the details if possible:
    <ul>
        <li>Url to website which you tested with Galen</li>
        <li>Error messages with complete stacktrace</li>
        <li>Spec and test files to reproduce the issue</li>
        <li>Command with which you ran your tests</li>
    </ul>

</p>
