<h2>Developers</h2>

You can use <a href="/dashboard/">Project Dashboard</a> to track the progress of Galen Framework milestones.
<script>

    var _templates = {};

    function createTemplateFrom(id) {
        var source = $("#" + id).html();
        return Handlebars.compile(source);
    }

    function obtainContributorsForProject(name, callback) {
        $.ajax({
            url: "https://api.github.com/repos/galenframework/" + name + "/contributors",
            jsonp: "callback",
            dataType: "jsonp",
            data: {
                access_token: "d2f9cf142182ae97e848fd1da31b91c23c56c682"
            },
            success: function (response) {
                callback(response.data);
            }
        });
    }
    $(function (){
        _templates.contributors = createTemplateFrom("contributors-tpl");

        obtainContributorsForProject("galen", function (contributors) {
            $("#code-contributors").html(_templates.contributors(contributors));
        });

        obtainContributorsForProject("galenframework.com", function (contributors) {
            $("#docs-contributors").html(_templates.contributors(contributors));
        });
    });
</script>
<h3>Code Contributors</h3>
<div id="code-contributors" class="dashboard-contributors">
    Loading...
</div>

<h3>Documenation Contributors</h3>
<div id="docs-contributors" class="dashboard-contributors">
    Loading...
</div>

<script id="contributors-tpl" language="text/x-handlebars-template">
    {{#each this}}
    <a class="contributor" href="{{html_url}}" title="{{login}}"><img width="50px" src="{{avatar_url}}"></a>
    {{/each}}
</script>

<h3>How to Contribute</h3>

If you want to contribute to this project just look for current open issues. Please let know in the comments of the issue that you are going to pick it up because somebody could already work on it. In the end just send the pull request. By the way the feature that you are going to work on should not just solve your particular problem. It should be extendable and configurable. The github issues is the best place to debate on the feature and discuss how it should be implemented.

If you would like to make a change to the Galen Framework website (<a href="http://galenframework.com">http://galenframework.com</a>) you can do it here <a href="https://github.com/galenframework/galenframework.com">https://github.com/galenframework/galenframework.com</a>

If you want to improve the functionality related to image comparison or color scheme - you have to first make a pull request to <a href="https://github.com/galenframework/rainbow4j">rainbow4j</a> as all the core code for comparing images, applying filters and calculating the color scheme is located in it. After this it will be released to sonatype central repository and will be available as maven dependency.

<h3>Building</h3>

This project is based on Maven. You can use both Intellij or Eclipse for it. It is being developed in Linux so all the assembling scripts are in bash. In order to assemble the dist with zip archives just run <code>./makeDist.sh</code> and it will create a dist folder with both binary and source folders and it will prepare zip archives there as well. If you want to quickly test the concept and install galen right after the assembling you can use script <code>./assembleAndInstall.sh</code>. It uses makeDist.sh and then just invokes sudo <code>./install.sh</code>

<h3>Testing</h3>

There are two levels of testing. The first one is just the regular mvn clean test. But as there is a lot of Javascript code - you need Mocha. The tests are located in folder <code>src/test/js/</code>. To run the just go to that folder and execute <code>./testJs.sh</code>


