<#import "view/comments.ftl.html" as m>


<article class="article">
    <div class="header">
        <h1>${doc.title?html}</h1>
    </div>
    <div class="article-content">
        ${markup.apply(doc.content)}

        <#if doc.entry.field('authorName')?has_content && doc.entry.field('authorLink')?has_content>
            <#assign authorName = "${doc.entry.field('authorName')}">
            <#assign authorLink = "${doc.entry.field('authorLink')}">
            <div class="written-by-section">
                Written by <a href="${authorLink}">${authorName}</a>
            </div>
        </#if>

        <!-- comments -->
        <@m.commentsSection />

    </div>

</article>
