<div class="content article">
    <h1>Download</h1>
    <div class="row">
        <div class="col-sm-6 col-lg-6 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Binary</h2>
                </div>
                <div class="panel-body">
                    <a class="btn btn-lg btn-primary" href="https://github.com/galenframework/galen/releases/download/galen-${latestVersion}/galen-bin-${latestVersion}.zip"><i class="fa fa-download fa-fw"></i> galen-bin-${latestVersion}.zip</a>
                    <span> Size: ${latestVersionBinSize}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Source Code</h2>
                </div>
                <div class="panel-body">
                    <a class="btn btn-lg btn-primary" href="https://github.com/galenframework/galen/archive/galen-${latestVersion}.zip"><i class="fa fa-download fa-fw"></i> galen-${latestVersion}.zip</a>
                    <span> Size: ${latestVersionSrcSize}</span>
                </div>
            </div>
        </div>
    </div>

    Older versions you can find on <a href="https://github.com/galenframework/galen/releases">GitHub Releases</a>
    
</div>
