<div id="home">
    <div id="home-intro" class="wrapper">
        <h1>Bla bla bla, a great tool for everyone!</h1>
        <div id="intro-video">
            intro video placeholder
        </div>
        <div id="features-1">
            <ul>
                <li>Open-Sourced and Free</li>
                <li>Awesome</li>
                <li>Super duper hyper cool</li>
            </ul>
        </div>
        <div id="features-2">
            <ul>
                <li>Cool</li>
                <li>Cute little kitten</li>
                <li>Smells like a morning coffee</li>
            </ul>
        </div>
        <div id="download-section">
            <a href="/download/">Download ${latestVersion}</a>
            Whatever more stuff here for the download section
        </div>
    </div>
</div>
