<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <#if !title??>
            <#assign title="Galen Framework | Automated testing of responsive design">
        </#if>
        <title>${title}</title>

        <!-- Bootstrap -->
        <link href="/public/css/bootstrap.css" rel="stylesheet">
        <link href="/public/custom.css?v=8" rel="stylesheet">
        <script src="/public/jquery-1.8.3.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/handlebars-v2.0.0.js"></script>
        <script src="/public/galen.js?v=2"></script>
        <link href="/public/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/solarized_dark.css?v=2" media="screen" type="text/css">
        <link rel="stylesheet" href="/public/galen-highlight-dark.css?v=2" media="screen" type="text/css">
        <script src="/public/highlight.pack.js?v=1"></script>
        <script src="/public/galen-highlight-v1.js?v=1"></script>
        <script src="/public/galen-highlight-v2.js?v=1"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35449979-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

            $(function (){
                $("#search-panel").submit(function (event){
                    var q = encodeURI($("#search-panel input").val() + " site:${googleSite}");
                    event.preventDefault();
                    window.location = "http://www.google.com/search?q=" + q;
                });
            });
        </script>
    </head>
    <body>
        <nav id="header" class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/public/logo.png" height="26px"/> Galen Framework</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/news/">News</a></li>
                <li><a href="/download/">Download</a></li>
                <li><a href="/docs/all/">Docs</a></li>
                <li><a id="menu-github" href="https://github.com/galenframework/galen">GitHub</a></li>
                <li><a id="menu-about" href="/docs/about/">About</a></li>
                <li><a id="menu-developers" href="/developers/">Devs</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
              <form id="search-panel" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        ${tiles.process('middle')}
        <div id="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-sm-4 col-lg-4 text-center footer-socials">
                        <h2>Galen Framework</h2>
                        <a href="/subscribe/"><i class="fa fa-envelope fa-2x"></i></a>
                        <a href="http://twitter.com/galenframework"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://github.com/galenframework/galen"><i class="fa fa-github-alt fa-2x"></i></a>
                        <a href="https://www.facebook.com/galenframework"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </div>
                    <div class="col-sm-2 col-lg-2">
                        <h3>Site Map</h3>
                        <ul>
                            <li><a href="/news/">News</a>
                            <li><a href="/download/">Download</a>
                            <li><a href="/docs/all/">Docs</a>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-lg-2">
                        <h3>Project</h3>
                        <ul>
                            <li><a href="/docs/about/">About</a>
                            <li><a href="http://www.apache.org/licenses/LICENSE-2.0.html">License</a>
                            <li><a href="/contact/">Contact</a>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-lg-2">
                        <h3>Getting Started</h3>
                        <ul>
                            <li><a href="/docs/tutorial-first-project/">First project</a>
                            <li><a href="/docs/reference-galen-spec-language-guide/">Specs Language</a>
                            <li><a href="http://mindengine.net/category/galen/">Galen Tutorials</a>
                        </ul>
                    </div>
                    <div id="footer-copyright" class="col-sm-2 col-lg-2 text-right">
                        &copy; 2013 - 2015,<br/> Powered by <a href="http://blogix.info">Blogix</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
