<div class="alert alert-danger">
    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> At the moment Galen is not compatible with the latest Firefox version. Please <a href="https://support.mozilla.org/en-US/kb/install-older-version-of-firefox">install older Firefox version (46)</a> until this is fixed or <a href="/docs/browsers/">switch to Chrome</a>.
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-lg-9">
            ${tiles.process('content')}
        </div>
        <div id="sidebar" class="col-sm-3 col-lg-3">
            ${tiles.process('sideBar')}
        </div>
    </div>
</div>
