<#if recentPosts??>
<h3>Last news</h3>
<ul class="recent-posts">
    <#list recentPosts as post>
    <li>
        <a href="/post/${post.id}/" class="title">${post.title?html}</a>
    </li>
    </#list>
</ul>
</#if>

<h3>Stay in touch</h3>
<ul>
    <li>
        <a href="/contact/">Leave feedback</a>
    </li>
    <li>
    <a class="subscribe-button" href="/subscribe/"><i class="fa fa-envelope"></i> Subscribe for more news</a>
    </li>
</ul>

<h3>Getting Started</h3>
<ul>
    <li>
        <a href="/docs/getting-started-install-galen/">Install Galen</a>
    </li>
    <li>
        <a href="/docs/getting-started-configuration/">Configuration</a>
    </li>
    <li>
        <a href="/docs/reference-working-in-command-line/">Running Galen</a>
    </li>
    <li>
        <a href="/docs/browsers/">Configuring browsers</a>
    </li>
</ul>

<h3>Complete Reference</h3>
<ul>
    <li>
        <a href="/docs/reference-galen-spec-language-guide/">Galen Spec Language Guide</a> 
    </li>
    <li>
        <a href="/docs/reference-galen-test-suite-syntax/">Galen Test Suite Syntax</a>
    </li>
    <li>
        <a href="/docs/reference-working-in-command-line/">Working in Command Line</a> 
    </li>
    <li>
        <a href="/docs/reference-galen-extras/">Galen Extras</a> 
    </li>
</ul>

<h3>JavaScript tests</h3>
<ul>
    <li>
        <a href="/docs/reference-javascript-tests-guide/">JavaScript Tests Guide</a> 
    </li>
    <li>
        <a href="/docs/reference-galen-javascript-api/">Galen JavaScript API</a>
    </li>
    <li>
        <a href="/docs/reference-galenpages-javascript-api/">GalenPages JavaScript API</a> 
    </li>
</ul>

<h3>Java tests</h3>
<ul>
    <li>
        <a href="/docs/reference-java-tests/">Java Tests (Maven + TestNG + Galen)</a> 
    </li>
</ul>

<h3>IDE Support</h3>
<ul>
    <li>
        <a href="https://plugins.jetbrains.com/plugin/8302?pr=phpStorm&showAllUpdates=true">Intellij</a>
        <a href="https://github.com/davidrv87/syntax-sublime-galen2">Sublime</a>
        <a href="https://github.com/galenframework/galen.vim">Vim</a>
    </li>
</ul>

<h3>Tutorials</h3>
<ul>
    <li>
        <a href="/docs/tutorial-first-project/">First Project</a>
    </li>
    <li>
        <a href="/docs/tutorial-using-galen-with-a-task-runner/">Using Galen with gulp or grunt</a>
    </li>
    <li>
        <a href="https://github.com/browserstack/Galen-BrowserStack">Running Tests on BrowserStack</a>
    </li>
    <li>
        <a href="http://mindengine.net/category/galen/">Other tutorials on mindengine.net</a>
    </li>
</ul>

